worklog: [
  '2016-01-11': [

    '18:08':
      log:
        'Virtualenv integrated to the prompt.'
      commit:
        'https://github.com/tiborsimon/dotfiles/commit/ef6994b1feed38ce382c6eca86a529f08a85858c'
      tags: [
        'tspr0002'
        'config'
      ]

    '20:13':
      log:
        'New personal blog design has been started.'

    '23:07':
      log:
        'Started the new worklog structure as a cson file.'
      repo:
        'https://github.com/tiborsimon/worklog'
      tags: [
        'tspr0001'
        'management'
      ]

    '23:33':
      log:
        'Added support for instant jump to the repository folder as an alias to g as "github".'
      commit:
        'https://github.com/tiborsimon/dotfiles/commit/f7a73bcf43867dbdd758b3c14c8b397f35869d8f'
      tags: [
        'tspr0002'
        'config'
      ]

  ]
]
